p {
    color: lightblue;
    text-align: right;
    padding-right: 5%;
    letter-spacing: 2px;
}

body { 
    background-color: darkslategrey;
}

h1 {
    color: beige;
	border: 5px;
	border-color: white;
	border-style: double;
    box-shadow: 10px 10px 10px #2a7254;
	padding: 2px;
}

h3 {
	opacity: 0.8;
    margin-left: 25%
    margin-right: 25%;
    word-spacing: 8px;
}

img {
    margin-left: 25%;
    margin-right: 25%;
}

a {
    color: orange;
    background-color: rgba(56, 56, 56, 0.71);
}